body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin: 0;
  background-color: #0a2647;
}

.header {
  background-color: grey;
  display: flex;
  justify-content: center;
  padding: 30px;
  width: 100%;
  font-style: italic;
  font-size: 30px;
}

.body {
  padding: 300px 50px;
  display: flex;
  justify-content: center;
  gap: 40px;
}

.footer {
  padding: 30px;
  background-color: grey;
  display: flex;
  justify-content: center;
  gap: 40px;
  width: 100%;
  color: black;
}

.options {
  padding: 50px 10px;
  background-color: grey;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 30px;
}

.grid-container {
  background-color: white;
  height: 400px;
  width: 400px;
}
